/* CreateUser.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 94%;
  }
  
  input[type="file"] {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
    
  }

  .create-user-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
  }
  .errors{
    padding: 10px;
    color: red;
    height: 20px;
  }

  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}